
@media only screen and (min-width:326px){
  .botones{
    font-size:20px;
    width:50px;
    height:50px;
    line-height:50px;
  }
  div.carrusel{
     max-height:100%;   
     min-height:500px;

  }
}

.botones:hover{
  cursor:pointer;
  box-shadow:0 0 20px rgba(255,255,255,1);
}
.atras{
  left:2%;
}
.adelante{
  right:2%;
}
[class*="col-"] {
  width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
	

@media only screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
	  }
	body {
    background-color: whitesmoke;
  }
}

@media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
	    }
	body {
    background-color: lightcyan;
		color: darkcyan;
  }
	.texto {
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";					
		}
	.h1 {
text-align: center;
color: darkcyan;
font-size: 30px;
					
		}
		
		.h3 {
text-align: center;
color: darkcyan;
font-size: 25px;
			
			
		}
		
		.h4 {
text-align: center;
color:#454545;
font-size: 20px;
			
		}
.h5 {
text-align: left;
color:#454545;
font-size: 20px;
			
		}
	
	ul.nav li.right, 
  ul.nav li {float: none;
	}
	
	form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  input,
  button {
    grid-column: 2 / 3;
  }
}





* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


		p {
  margin-bottom: 20px;
}
		
		.menu{
	list-style:none;
	padding:0px;
	margin:0px;
}
		.menu li{
    margin:2px;
    padding:2px;
}
		header {
  width: 100%;
  position: fixed;
  z-index: 100;
  float: right;
}
		av {
  float: right; 
}
 
nav ul {
  list-style: none;
  overflow: hidden; 
}
 
nav ul li {
  float: left;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"sans-serif;
  font-size: 16px;
  background-color: #3c2568;
   color:white;
	height: 115px;
	width: auto;
	position: relative;
	 display: inline-block;
  vertical-align: top;
  padding: 0 24px;
}
 
nav ul li a {
  display: block;
  padding: 20px;
  color:white;
  text-decoration: none;
	width: 100%;
	margin: auto;
	text-align-last: right;
	float: none;
	display: inline-block;

}
 
nav ul li:hover {
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif""Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"sans-serif;
  font-size: 18px;
  color: #0c051e;
	width: 100%;
	margin: auto;
	text-align-last: left;

	
  
}

li a:hover:not(.active) {
  background-color: #0c051e;
}

.active {
  background-color: #0c051e;
}
		
	footer	{
  height:50px;
  line-height:50px;
  background: #4E4E4E;
  color:white;
  text-align:center;
  bottom:down;
  left:0;
  width:100%;
}
			
	.texto {
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";					
		}
			
	.h1 {
text-align: center;
color: #2642F8;
font-size: 50px;
					
		}
		
		.h3 {
text-align: center;
color: #2642F8;
font-size: 35px;
			
		}
		
		.h4 {
text-align: center;
color:#454545;
			
		}
.h5 {
text-align: left;
color:#454545;
			
		}
.h6 {
text-align: center;
color:#17BEBB;
	font-size: 50px;
			
		}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #17BEBB;
  text-align: justify;
  padding: 10px;	
}

tr:nth-child(even) {
  background-color: #17BEBB;
}

form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}
form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}
form button:hover {
  background: gold;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

figure {
  display: inline-block;
  padding: 20px;
  max-width: 90%;
  border: 1px solid grey;
  text-align: center;
	width: 370px;
}

figcaption {
  font-size: 22px;
}

figure:hover {
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
}

figure:hover figcaption:after {
  content: ":690";
	background-color: red;
	color:  white;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 390px;
  height: 250px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  background-color: #008CBA;
  overflow: hidden;
  width: 390px;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 250px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;